{% extends 'base.html.twig' %}

{% block title 'dwira blanca' %}


{% block body %}
   <h1> {{ pluriel(posts|length,'Pin','Pins') }} </h1>
   <article>
   {% for post in posts %}
      <h2>{{ post.title }}</h2>
      <h3>{{ post.miniTitle }}</h3>
      <h3>{{ post.OneWordPov }} and {{ post.mark }}/10 </h3>
      <p>Location : {{ post.location }}</p>
      <div>
      {{ post.reviewArticle }}
      </div>
      {% endfor %}
   </article>
{% endblock %}
